.content-container {
    padding: 5px 10px;
    margin-top: 10vh;
    height: 90vh;
    overflow: auto;
}

#topLoading {
    height: 10vh;
    text-align: center;
    line-height: 10vh;
}

#bottomLoading {
    height: 8vh;
    text-align: center;
    line-height: 8vh;
}
